<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="exapus.gui.ExplorationPerspective"
            id="exapus.gui.perspective.exploration"
            name="Exploration">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.ExtensionFactory:progressView"
            id="org.eclipse.ui.views.ProgressView"
            name="Progress">
      </view>
      
      
      
      <view
            allowMultiple="false"
            class="exapus.gui.views.store.StoreView"
            id="exapus.gui.views.store.StoreView"
            name="Views">
      </view>
      <view
            class="exapus.gui.views.forest.reference.ForestReferenceViewPart"
            id="exapus.gui.views.forest.ForestReferenceView"
            name="Source">
      </view>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="exapus.gui.entrypoint.workbench"
            id="exapus.branding"
            servletName="exapus"
            themeId="org.eclipse.rap.design.example.fancy.theme"
            title="Exapus Workbench">
      </branding>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="exapus.gui.editors.view.ViewEditor"
            id="exapus.gui.views.forest.ForestCombinedView"
            name="View">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.rap.demo.actionSet"
            label="Sample Action Set"
            visible="false">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.rap.demo.actions.SampleAction"
               icon="icons/sample.gif"
               id="org.eclipse.rap.demo.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
         <action
               class="org.eclipse.rap.demo.actions.JobAction"
               icon="icons/pview.gif"
               id="org.eclipse.rap.demo.actions.JobAction"
               label="&amp;Start Job"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Start Job">
         </action>
         <action
               class="org.eclipse.rap.demo.actions.JobActionWithDialog"
               icon="icons/progress_ok.gif"
               id="org.eclipse.rap.demo.actions.JobActionWithDialog"
               label="&amp;Start Job with Dialog"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Start Job with Dialog">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="exapus.gui.ExapusWorkbench"
            id="exapus.gui.entrypoint.workbench"
            parameter="default"
            path="/workbench">
      </entrypoint>
   </extension>

</plugin>
